.head h1{

	text-align: right;
	text-transform: uppercase;
	font-family: Ariel;
	font-size: 40px;
	margin:1px;
	color:#2d3c49;
	
}

.head h2{

	text-align: right;
	text-transform: uppercase;

}

body hr{

	background-color:#7d79ad;
	height:1px;



}

header{

	margin:0;
}

.logo{

	max-width: 200px;
	max-width: 200px;
	float: left;
	box-sizing: border-box;
}
.container{

	width:100%;
	margin:10px,10px;
	padding: 10px, 10px;

	
}

#main-block{

	float: left;
	width: 40%;
	padding:10px;
	box-sizing: border-box;
	
}

#side-image{

	float: right;
	width:60%;
	box-sizing: border-box;
	padding:10px;
	

}

#webdev-image{

	max-width:100%;
	height: auto;
	border-radius: 2px;

}
.section{

	border: thin #c0c0c0 solid;
	width:100%;
	
}

.featured-work{

    width:33.3%;
	
}
#html-image{

	width:33%;
	float:left;
}

#Jvs-image{

	width:33%;
}
#Git-image{

	width:33%;
	float: right;

}
