.head h1,h2{

	text-align: right;
	text-transform: uppercase;
	font-family: Ariel;
	font-size: 40px;
	margin:1px;
	color:#2d3c49;
	
}

.head h2{

	font-size: 20px;

}

body{

	background-color: white;
}

h1{

    color:#7d97ad;

}

hr{

	background-color:#7d79ad;
	height:1px;
}

header{

	margin:0;
}
.box1{

	height: 200px;
}

.logo{

	max-width: 200px;
	float: left;
	box-sizing: border-box;
}
.container{

	margin:10px;
	padding: 10px, 10px;
}
.main-section{

	display: flex;
	flex-flow: column;
	border: thin #c0c0c0 solid;
	padding:12px;
	text-align: center;
	
}

.featuredwork-container{

   display: flex;
   justify-content: space-between;
}

#main-image{

	max-width:100%;
	height: auto;
	border-radius: 2px;
}

#main-paragraph{

	padding: 12px;
	font-family: Georgia;
}

#Html-image, #Css-image, #Git-image{

	width:100%;
	margin:auto;
}

#Html-box , #Css-box , #Git-box {

 width:30%;

}